{% extends 'layout.html' %}
{% block title %}
   Quizles - Admin Dashboard
{% endblock %}
{% block style %}
    <style>
        body {
            background-color: #EEFDFF; /* Light blue background */
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            font-family: 'Comic Sans MS', cursive, sans-serif;;
        }
        .header {
            width: 100%;
            background-color: #6ea4ad; /* Light blue */
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            height: 15px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            border: 2.5px solid black; 
        }
        .header h3 {
            font-size: 45px;
            font-weight: bold;
            font-family: Irish Grover;
        }
        h2{
            font-weight: bolder;
            font-style: italic;
            color: #2E6D76;
            font-size:35px;
            text-shadow: 2px 2px 4px black, -2px -2px 4px black;
        }
        .container {
            width: 800px;
            height: 700px;
            margin: 40px auto;
            background-color: #EEFDFF;
            padding: 30px 40px;
            border-radius: 45px;
            border: 4px solid #2E6D76;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            border: 3px solid #2E6D76;
            text-align: center;
        }
        th {
            background-color: #6a91a3;
            font-weight: bold;
        }
        .btn {
            color:  #2E6D76;
            font-size:30px;
            text-shadow: 2px 2px 4px black;
            font-weight: bold;
            padding: 7px 30px;
            border-color:  black;
            cursor: pointer;
            margin-left: 600px;
            margin-top: 50px;
            border-radius: 10px;
            
          }
       

    </style>
    {% endblock %}

    {% block content %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">

    
    <div class="header"><h3>Quizles</h3>
    </div>
    
            <div class="container">
                <h2>Manage User</h2>
                <table>
                    <tr>
                        <th>user id</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Branch</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>1</td><td></td><td></td><td></td><td></td><td>Edit/Deleat</td>
                    </tr>
                    <tr>
                        <td>2</td><td></td><td></td><td></td><td></td><td>Edit/Deleat</td>
                    </tr>
                    <tr>
                        <td>3</td><td></td><td></td><td></td><td></td><td>Edit/Deleat</td>
                    </tr>
                    
                    
                </table>
                <button class=btn>+User</button>
            </div>

    {% endblock %}
