{% extends 'layout.html' %}

{% block title %}
        Register - Quiz app
        {% endblock %}

        {% block content %}
        <h1>Welcome to Quiz Master</h1>
        <h3>Register</h3>
        <form method="post" class="mt-5">
            <label for="username" class="form-label">Username: 
                <input type="text" name="username" id="username" class="form-control" required/>
            </label>
            <br>
            <label for="password" class="form-label">Password: 
                <input type="text" name="password" id="password" class="form-control" required/>
            </label>
            <br>
            <label for="name" classname="form-label">Name: 
                <input type="text" name="name" id="name" class="form-control" required/>
            </label>
            <br>
            <input type="submit" value="Register" class="btn btn-success">
        </form>
        {% endblock %}

        {% block style %}
        <style>
            form{
                display: flex;
                flex-direction: column;
                align-items: center;

            }
            h1{
                text-align: center;
                margin-top: 64px;
            }
            h3{
                text-align: center;
                margin-top: 64px;
            }


        </style>
        {% endblock %}